body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.expandable-header {
  background: #5c5c5c;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 5px;
}

.nested {
  margin-left: 50px;
  width: 100%;
}
.search-bar {
  margin-bottom: 64px;
}